/********************
NORMALIZE
********************/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/********************
VARS
********************/
/********************
BREAKPOINTS
********************/
/********************
HELPERS
********************/
img {
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.absCentre {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hexagon {
  width: 100px;
  height: 50px;
  background: green;
  position: relative;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid green;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid green;
}

@media (min-width: 480px) {
  .left-col, .right-col {
    width: 48%;
    float: left;
  }
}

@media (min-width: 480px) {
  .left-col {
    margin-right: 4%;
  }
}

html {
  font-size: 62.5%;
}

@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p, ul, li, a {
  font-size: 1.6rem;
}

a {
  color: #3073A7;
  text-decoration: none;
}

h3 {
  font-size: 2.2rem;
}

/**
 *
 * slippry v1.3.1 - Responsive content slider for jQuery
 * http://slippry.com
 *
 * Authors: Lukas Jakob Hafner - @saftsaak
 *          Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2015, booncon oy - http://booncon.com
 *
 *
 * Released under the MIT license - http://opensource.org/licenses/MIT
 */
/* kenBurns animations, very basic */
@-webkit-keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
}

@-moz-keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
}

@-ms-keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
}

@keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
}

@-webkit-keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
}

@-moz-keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
}

@-ms-keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
}

@keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%);
  }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%);
  }
}

/* added to the original element calling slippry */
.sy-box.sy-loading {
  background: url("/img/sy-loader.gif") 50% 50% no-repeat;
  -moz-background-size: 32px;
  -o-background-size: 32px;
  -webkit-background-size: 32px;
  background-size: 32px;
  min-height: 40px;
}

.sy-box.sy-loading .sy-slides-wrap, .sy-box.sy-loading .sy-pager {
  visibility: hidden;
}

/* element that wraps the slides */
.sy-slides-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.sy-slides-wrap:hover .sy-controls {
  display: block;
}

/* element that crops the visible area to the slides */
.sy-slides-crop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

/* list containing the slides */
.sy-list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.sy-list.horizontal {
  -moz-transition: left ease;
  -o-transition: left ease;
  -webkit-transition: left ease;
  transition: left ease;
}

.sy-list.vertical {
  -moz-transition: top ease;
  -o-transition: top ease;
  -webkit-transition: top ease;
  transition: top ease;
}

/* single slide */
.sy-slide {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.sy-slide.kenburns {
  width: 140%;
  left: -20%;
}

.sy-slide.kenburns.useCSS {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.sy-slide.kenburns.useCSS.sy-ken:nth-child(1n) {
  -webkit-animation-name: left-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: left-right;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: left-right;
  -o-animation-fill-mode: forwards;
  animation-name: left-right;
  animation-fill-mode: forwards;
}

.sy-slide.kenburns.useCSS.sy-ken:nth-child(2n) {
  -webkit-animation-name: right-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: right-left;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: right-left;
  -o-animation-fill-mode: forwards;
  animation-name: right-left;
  animation-fill-mode: forwards;
}

.sy-slide.sy-active {
  z-index: 3;
}

.sy-slide > img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border: 0;
}

.sy-slide > a {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.sy-slide > a > img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border: 0;
}

/* next/ prev buttons, with arrows and clickable area a lot larger than the visible buttons */
.sy-controls {
  display: none;
  list-style: none;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

.sy-controls li {
  position: absolute;
  width: 10%;
  min-width: 4.2em;
  height: 100%;
  z-index: 33;
}

.sy-controls li.sy-prev {
  left: 0;
  top: 0;
}

.sy-controls li.sy-prev a:after {
  background-position: -5% 0;
}

.sy-controls li.sy-next {
  right: 0;
  top: 0;
}

.sy-controls li.sy-next a:after {
  background-position: 105% 0;
}

.sy-controls li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -9999px;
}

.sy-controls li a:link, .sy-controls li a:visited {
  opacity: 0.4;
}

.sy-controls li a:hover, .sy-controls li a:focus {
  opacity: 0.8;
  outline: none;
}

.sy-controls li a:after {
  content: "";
  background-image: url("/img/arrows.svg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  text-indent: 0;
  line-height: 2.8em;
  color: #111;
  font-weight: 800;
  position: absolute;
  background-color: #fff;
  width: 2.8em;
  height: 2.8em;
  left: 50%;
  top: 50%;
  margin-top: -1.4em;
  margin-left: -1.4em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@media only screen and (max-device-width: 600px) {
  .sy-controls {
    display: block;
  }
  .sy-controls li {
    min-width: 2.1em;
  }
  .sy-controls li a:after {
    width: 1.4em;
    height: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
  }
}

/* captions, styled fo the overlay variant */
.sy-caption-wrap {
  position: absolute;
  bottom: 2em;
  z-index: 12;
  left: 50%;
}

.sy-caption-wrap .sy-caption {
  position: relative;
  left: -50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.4em 1em;
}

.sy-caption-wrap .sy-caption a:link, .sy-caption-wrap .sy-caption a:visited {
  color: #e24b70;
  font-weight: 600;
  text-decoration: none;
}

.sy-caption-wrap .sy-caption a:hover, .sy-caption-wrap .sy-caption a:focus {
  text-decoration: underline;
}

@media only screen and (max-device-width: 600px), screen and (max-width: 600px) {
  .sy-caption-wrap {
    left: 50%;
    bottom: 0.4em;
  }
  .sy-caption-wrap .sy-caption {
    left: -50%;
    padding: 0.2em 0.4em;
    font-size: 0.92em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

/* pager bubbles */
.sy-pager {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 100%;
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sy-pager li {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 1em 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.sy-pager li.sy-active a {
  background-color: #3073A6;
}

.sy-pager li a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ccc;
  text-indent: -9999px;
  -moz-background-size: 2em;
  -o-background-size: 2em;
  -webkit-background-size: 2em;
  background-size: 2em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.sy-pager li a:link, .sy-pager li a:visited {
  opacity: 1.0;
}

.sy-pager li a:hover, .sy-pager li a:focus {
  opacity: 0.6;
}

/* element to "keep/ fill" the space of the content, gets intrinsic height via js */
.sy-filler {
  width: 100%;
}

.sy-filler.ready {
  -moz-transition: padding 600ms ease;
  -o-transition: padding 600ms ease;
  -webkit-transition: padding 600ms ease;
  transition: padding 600ms ease;
}

/********************
HEADER
********************/
header.links {
  font-size: 0;
}

header.links a {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 4px 0;
  font-size: 1rem;
  width: 33.33%;
  padding: 5px 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.2em;
  background: #333333;
  position: relative;
}

@media (min-width: 768px) {
  header.links a {
    font-size: 1.2rem;
  }
}

header.links a:hover {
  text-decoration: underline;
  color: white;
}

header.links a:last-child {
  border-right: none;
}

/********************
INTRO
********************/
.intro {
  background: url(../img/us-mob.jpg) 50% 0 no-repeat;
  position: relative;
}

@media (min-width: 768px) {
  .intro {
    background: url(../img/us-tablet.jpg) 50% -80px no-repeat;
  }
}

@media (min-width: 1024px) {
  .intro {
    background: url(../img/us-desktop.jpg) 50% -100px no-repeat;
    background-size: 100%;
  }
}

nav {
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
}

nav a {
  color: #fff;
  border: 2px solid #fff;
  margin-right: 1px;
  display: inline-block;
  padding: 6px;
  font-size: 14px;
  font-family: verdana, tahoma, arial, sans-serif;
  margin-bottom: 2px;
}

nav a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  nav a {
    font-size: 1.6rem;
    padding: 10px 14px;
    margin-right: 12px;
  }
}

@media (min-width: 1300px) {
  nav a {
    font-size: 2.4rem;
    padding: 12px 24px;
    margin-right: 26px;
  }
}

h1.banner {
  color: white;
  margin: 0;
  text-align: center;
  position: relative;
  font-family: 'Lobster', cursive;
  font-size: 8.2rem;
  text-shadow: 2px 2px 1px #000;
  font-weight: normal;
  z-index: 1;
  padding: 70px 0 55px 0;
  line-height: 1em;
}

@media (min-width: 768px) {
  h1.banner {
    font-size: 10rem;
    padding: 110px 0 60px 0;
  }
}

@media (min-width: 1024px) {
  h1.banner {
    font-size: 12rem;
    padding: 100px 0 200px 0;
  }
}

@media (min-width: 1300px) {
  h1.banner {
    font-size: 12rem;
    padding: 184px 0 141px 0;
  }
}

@media (min-width: 768px) {
  #inner-page h1.banner {
    font-size: 12rem;
    padding: 16px 0 66px 0;
  }
}

h2.job-title {
  background: #1c415f;
  background: rgba(28, 65, 95, 0.5);
  padding: 6px;
  color: white;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

@media (min-width: 1024px) {
  h2.job-title {
    font-size: 32px !important;
  }
}

.content.portfolio {
  margin-top: 34px;
}

.about {
  background: #fff;
  padding: 1.5em;
  color: #313131;
  line-height: 2em;
  padding: 20px 0;
  text-align: center;
}

@media (min-width: 1000px) {
  .about {
    padding: 5em 2.5em;
  }
}

.about p {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  line-height: 1.4em;
}

@media (min-width: 1024px) {
  .about p {
    font-size: 2.2rem;
  }
}

.about a {
  text-decoration: underline;
  font-size: 1.8rem;
}

@media (min-width: 1024px) {
  .about a {
    font-size: 2.2rem;
  }
}

.skills {
  background: #eaeaea;
  padding-bottom: 40px;
  position: relative;
}

.skills h2.homepage {
  background: #275d87;
  font-size: 2rem;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  color: white;
  position: relative;
  padding: 0.6rem 1.8rem;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  top: -16px;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .skills h2.homepage {
    top: -20px;
  }
}

.skills h2.homepage:after {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #275d87;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  content: "";
}

.skills ul {
  padding: 0;
}

.skills p {
  margin-top: 0;
}

.skills li {
  display: inline-block;
  background: white;
  margin-bottom: 4px;
  padding: 12px;
  margin-right: 4px;
  margin-bottom: 6px;
  font-size: 16px;
}

.skills a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 10px;
  width: 30%;
  margin-right: 5%;
  padding: 0 12px;
  color: black;
  position: relative;
  padding-bottom: 28px;
  position: relative;
}

.skills a:hover {
  cursor: default;
}

@media (min-width: 600px) {
  .skills a {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .skills a {
    width: 180px;
  }
}

.skills a span {
  display: inline-block;
  width: 100%;
  position: absolute;
  font-size: 20px;
  bottom: 4px;
  left: 0;
  font-family: lobster;
}

@media (min-width: 600px) {
  .skills a span {
    font-size: 26px;
  }
}

.skillsGrid {
  margin-top: 30px;
}

.clients {
  padding-bottom: 40px;
  background: #fff;
  position: relative;
}

.clients p:first-child {
  margin-top: 0;
  margin-bottom: 20px;
}

.clients h2.homepage {
  background: #3073A7;
  font-size: 2rem;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  color: white;
  position: relative;
  padding: 0.6rem 1.8rem;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  top: -16px;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .clients h2.homepage {
    top: -20px;
  }
}

.clients h2.homepage:after {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #3073A7;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  content: "";
}

.clients img {
  background-color: white;
  padding: 0;
  margin-bottom: 10px;
}

.work {
  background: #eaeaea;
  position: relative;
  padding: 0;
  clear: both;
  padding-bottom: 20px;
}

.work h2.homepage {
  background: #3073A7;
  font-size: 2rem;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  color: white;
  position: relative;
  padding: 0.6rem 1.8rem;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  top: -16px;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .work h2.homepage {
    top: -20px;
  }
}

.work h2.homepage:after {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #3073A7;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  content: "";
}

.work .latest p {
  font-size: 2rem;
}

.work .project {
  text-align: center;
}

.work .project div a {
  color: #e2aa00;
  border: 3px solid #e2aa00;
  background: white;
  padding: 8px 26px 8px 26px;
  display: inline-block;
  margin: 0 0 20px 0;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 1px;
  margin-right: 12px;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 8px 26px 8px 18px;
}

.work .project div a:hover {
  color: white;
  border: 3px solid #e2aa00;
  background: #e2aa00;
}

.work .project div a:after {
  content: "  >";
  font-size: 1.8rem;
  position: absolute;
  right: 4px;
  top: 4px;
}

.work .project img, .work .project p {
  margin-bottom: 20px;
}

.portfolio .module {
  top: -70px;
}

.project.module {
  padding: 0;
}

.project.module div p {
  padding: 0 0.8em;
}

.blog {
  position: relative;
  padding: 0;
  clear: both;
  margin-top: 40px;
  padding-bottom: 20px;
}

.blog h2.homepage {
  background: #3073A7;
  font-size: 2rem;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  color: white;
  position: relative;
  padding: 0.6rem 1.8rem;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  top: -16px;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .blog h2.homepage {
    top: -20px;
  }
}

.blog h2.homepage:after {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #3073A7;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  content: "";
}

.blog h3 {
  margin: 0 0 -3px 0;
}

.blog h3 a {
  font-size: 22px;
  font-weight: bold;
}

.blog h3 a:hover {
  text-decoration: underline;
}

.blog .date {
  margin-top: 6px;
  margin-bottom: 4px !important;
  color: #666;
  display: inline-block;
  font-size: 1.6em;
}

#post {
  margin-top: 0;
  font-family: georgia, serif;
  /*img, iframe {
		-webkit-box-shadow: 1px 1px 9px 1px rgba(133,130,133,1);
		-moz-box-shadow: 1px 1px 9px 1px rgba(133,130,133,1);
		box-shadow: 1px 1px 9px 1px rgba(133,130,133,1);
		margin-bottom: 32px;
	}*/
}

#post .thumbs div:first-child {
  margin-right: 5%;
}

#post .thumbs .half {
  width: 45%;
  float: left;
}

#post table.overview {
  border-radius: 3px;
  margin-top: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

#post table.overview td {
  padding: 8px;
  font-size: 1.8rem;
  vertical-align: top;
  color: #525252;
}

#post table.overview td:first-child {
  width: 30%;
  font-weight: bold;
  padding-left: 14px;
}

#post h1 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  #post h1 {
    font-size: 36px;
  }
}

#post h2 {
  font-size: 22px;
}

@media (min-width: 600px) {
  #post h2 {
    font-size: 26px;
  }
}

#post h3 {
  font-size: 18px;
}

#post h4 {
  font-weight: bold;
  font-size: 2.2rem;
}

#post h5 {
  font-family: arial, verdana, sans-serif;
  font-weight: normal;
}

#post p {
  margin-top: 6px;
  margin-bottom: 20px;
  line-height: 1.4em;
}

#post li {
  line-height: 1.5em;
}

#post .category {
  background: #3073A7;
  display: inline-block;
  font-size: 14px;
  color: white;
  padding: 4px;
}

@media (min-width: 768px) {
  #post .inner {
    padding: 0 40px;
  }
}

@media (min-width: 600px) {
  #post .internal {
    padding: 2em 10%;
  }
}

@media (min-width: 1024px) {
  #post .internal {
    padding: 2em 12%;
  }
}

#post .internal .featured {
  background: #eeeeee;
  padding: 15px;
  margin-top: 8px;
}

#post .invision {
  display: none;
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  #post .invision {
    display: block;
  }
}

#post h5 {
  background: black;
  color: white;
  margin: 0;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 20px;
}

#post .sy-caption {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#post .sy-controls {
  background: black;
}

#post a {
  text-decoration: underline;
}

.internal h2 {
  background: #eaeaea;
  padding: 8px;
  font-weight: normal;
}

.internal h3 {
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: underline;
}

.contact {
  position: relative;
  background: #fff;
}

.contact h2.homepage {
  background: #275d87;
  font-size: 2rem;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  color: white;
  position: relative;
  padding: 0.6rem 1.8rem;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  top: -16px;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .contact h2.homepage {
    top: -20px;
  }
}

.contact h2.homepage:after {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #275d87;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  content: "";
}

.contact:last-child {
  margin-bottom: 0;
}

.contact h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.contact p {
  margin-top: 4px;
}

.contact a.blurb {
  text-decoration: underline;
}

.contact ul {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: center;
}

.contact ul li {
  display: inline-block;
  width: 49%;
  list-style: bullet;
}

.contact .email {
  color: #e2aa00;
  border: 3px solid #e2aa00;
  background: white;
  padding: 8px 26px 8px 26px;
  display: inline-block;
  margin: 0 0 20px 0;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 1px;
  margin-right: 12px;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
}

.contact .email:hover {
  color: white;
  border: 3px solid #e2aa00;
  background: #e2aa00;
}

.contact .inner {
  max-width: 900px;
  padding-bottom: 40px;
}

footer {
  background: #0c1116;
  color: white;
  float: left;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
  padding: 20px 0 50px 0;
}

footer p, footer a {
  font-size: 1.4rem;
}

footer a {
  color: #85C3F3;
}

footer a:hover {
  border-bottom: 1px solid #85C3F3;
}

footer h4 {
  font-size: 1.8rem;
  padding-bottom: 5px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer .left-col {
  width: 75%;
}

footer .right-col {
  width: 20%;
  text-align: center;
}

footer .copyright {
  background: #383B3E;
  padding: 8px;
  font-size: 1.4rem;
}

body {
  position: relative;
  background: #eaeaea;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  width: 95%;
}

@media (min-width: 1000px) {
  .inner {
    width: 80%;
  }
}

img {
  max-width: 100%;
}

section > p {
  margin-bottom: 30px;
}

.module {
  background: white;
  margin-bottom: 40px;
  border-radius: 1px;
  text-align: left;
  position: relative;
  box-shadow: 1px 1px 1px #ccc;
  padding: 20px;
}

.module img {
  display: block;
  margin: 0 auto;
}

.module div {
  margin: 0;
}

.module div p {
  margin: 0;
}

/*# sourceMappingURL=global.css.map */