 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 statement">
                    <p><strong>Hi there, I'm John and I class myself as UX front-end developer.  That means I'm a front-end developer with a UX focus</strong></p>

                    <p>I like to build what I design. I can do pure UX design (UI design, IA, user testing and all that jazz) and/or pure front-end coding including responsive design.  I'm equally happy and more than competant at doing either.  I enjoy all aspects of digital product design (apart from pointless meetings) and the buzz of working in a team. </p>
                    
                    <h3>Generic about blurb</h3>
                    <p>I'm experienced in working in agile, multi-disciplinary teams and am passionate about designing and delivering beautiful, user-centred digital products. I particularly enjoy the user testing and feedback iteration cycle where you get to see your hypothesis being proven...or not!</p>
                    <p>I get most job satisfaction where my work has a direct effect on the bottom line of the organisation - be that by improving conversion rates, increasing click through percentages on a landing page, through to usability improvements to grow a user base.</p>
                    <h3>Skills</h3>
                    <p>User-centred design, user testing, prototype design, wireframing, competitor
benchmarking and research, A/B testing, responsive design,
mobile first design, Sketch, Balsamiq, HTML5, CSS3, SASS, Grunt, GIT,
Javascript, Jquery, Wordpress, Bootstrap.</p>  
                    <p>I'm comfortable working in Windows, Mac OS and Linux operating systems, most major IDE's and get on well with nerds and creatives alike.</p> 

                    <h3>Who I've worked for</h3>
                    <p>I've worked for some pretty big companies over the years, so like to think I've been doing something right! These include:</p>
                    <ul>
                        <li>Booking.com</li>
                        <li>Morrisons</li>
                        <li>Deutsche Bank</li>
                        <li>JPMorgan</li>
                        <li>CSC</li>
                        <li>JD Williams</li>
                        <li>Henderson Global Investors</li>
                        <li>Hitachi Consulting</li>
                    </ul>
                    <p>If you want want to contact me to discuss working together on your project, please complete the form below and I'll get back to you. </p>
                </div>
            </div>
        </div>
    </section>