 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 statement">
                    <p>Hi there, I'm John and I'm
                    an interaction designer with over twenty years experience in digital design.  I've worked as a web designer/developer, interaction and user experience designer.  
                    <p>I love project  where my work has a direct effect on the bottom line of the organisation - be that by improving conversion rates, increasing click through percentages on a landing page, through to usability improvements to grow a user base.</p> 
                    
<p>I am fully versed in working as a member of multidisciplinary teams, user-centred design and working within the agile methodology. I’m passionate about designing and delivering beautiful, user-centred digital products and  particularly enjoy the user testing and feedback iteration cycle where you get to see your hypothesis being proven, or not!</p> 

                    
                    <h3>Skills</h3>
                    <p>User-centred design, user testing, user research, prototypes, wireframing, competitor
benchmarking and research, A/B testing, agile methodologies, responsive design,
mobile first methods, Sketch, Balsamiq, Axure, HTML5, CSS3, SASS, Grunt,
Javascript, Jquery, responsive design, Wordpress, Bootstrap.  <p>I'm comfortable working in Windows, Mac OS and Linux operating systems and most major IDE's.</p> 
                    <h3>CV</h3>
                    <p>To read more about my work experience, download my CV by clicking the button below:</p>
                </div>
                <div class="col-lg-4">
                    <p><p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="john-aspinall.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>