 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 statement">
                    <p>Hi, I'm John and I'm a UX/UI Designer.  
                    <p>I love projects where my work has a direct effect on the bottom line of the organisation - be that by improving conversion rates, increasing click through percentages on a landing page, through to usability improvements to grow a user base.</p> 
                    
<p>I'm experienced in working in agile, multidisciplinary teams and am passionate about designing and delivering beautiful, user-centred digital products.   I particularly enjoy the user testing and feedback iteration cycle where you get to see your hypothesis being proven, or not!</p> 

                    
                    <h3>Skills</h3>
                    <p>User-centred design, user testing, user research, prototypes, wireframing, competitor
benchmarking and research, A/B testing, agile methodologies, responsive design,
mobile first methods, Sketch, Balsamiq, Axure, HTML5, CSS3, SASS, Grunt,
Javascript, Jquery, responsive design, Wordpress, Bootstrap.  <p>I'm comfortable working in Windows, Mac OS and Linux operating systems and most major IDE's.</p> 

                    <h3>Experience</h3>
                    <p>I have worked for a variety of companies both large and small over the years, including:</p>
                    <ul>
                        <li>Booking.com</li>
                        <li>Morrisons</li>
                        <li>Deutsche Bank</li>
                        <li>JPMorgan</li>
                        <li>CSC</li>
                        <li>JD Williams</li>
                        <li>Henderson Global Investors</li>
                        <li>Hitachi Consulting</li>
                        <i class="fab fa-codepen"></i>
                    </ul>
                </div>
            </div>
        </div>
    </section>