<section id="contact" class="contact">
	<div class="inner">
		<h2 class="homepage">Contact</h2>
	  <p>Feel free to email me if you are interested in working together on your project.</p> 			
	  <p>I trade through my own limited company "User Experience Consulting" details of which can be found below.</p>	
	  <a href="mailto:john.aspinall73@gmail.com" class="email">Send me an email</a>
	</div>
	<div class="cols clearfix">
		<div class="inner">
			<div class="left-col">
				<h3>My company</h3>
			  <p>User experience consulting limited<br>
				St Annes Street<br>
				Lytham St Annes<br>
				Lancashire<br>
				FY6 1DG</p>
			</div>
			<div class="right-col">
				<h3>Company details</h3>
				<p>
				VAT registeration number: 185978437 <br>
					Company number: 8979949 
				</p>
			</div>
		</div>
	</div>
</section>
