            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img-full }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>{{ post.client }}</strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}</strong>
                                </li>
                                <li>Role:
                                    <strong>{{ post.role }}</strong>
                                </li>
                                <li>Tasks:
                                    <strong>{{ post.tasks }}</strong>
                                </li>
                            </ul>
                            
                            <section class="post-content">
                                {{ post.content }}    
                            </section>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                        </div>
                    </div>
                </div>
            </div>