<section name="skills" class="skills">
		<div class="inner">
			<h2 class="homepage">Skills</h2>
				<p>Here's a pictorial summary of the "web and UX stuff which I can do", along with a more specific description of my UI/UX technical skill set below the pics.</p>

				<div class="skillsGrid">
					<a href="#" class="prototypes">
						<img src="/img/prototype.svg" alt="">
								<span>Prototypes</span>
					</a>

					<a href="#" class="design">
						<img src="/img/design.svg" alt="">
						<span>UI design </span>
					</a>

					<a href="#" class="mobile">
						<img src="/img/mobile.svg" alt="">
						<span>Mobile</span>
					</a>

					<a href="#" class="wireframes">
						<img src="/img/wireframes.svg" alt="">
						<span>Wirefranes</span>
					</a>

					<a href="#" class="responsive">
						<img src="/img/responsive.svg" alt="">
						<span>Responsive</span>
					</a>
					<a href="#" class="coding">
						<img src="/img/code.svg" alt="">
						<span>Coding</span>
					</a>
				</div>

				<h3>Tech</h3>
				<div>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>SASS</li>
						<li>Javascript</li>
						<li>Jquery</li>
						<li>GIT</li>
						<li>Grunt</li>
						<li>Bootstrap</li>
						<li>Linux</li>
						
					</ul>
					<h3>Tools</h3>
					<ul>
						<li>Fireworks</li>
						<li>Illustrator</li>
						<li>Invision</li>
						<li>Balsamiq</li>
						<li>Axure</li>
						<li>Wordpress</li>
						<li>Jira</li>
						<li>Codekit</li>
					</ul>
					<h3>UX</h3>
					<ul>
						<li>Wireframing</li>
						<li>User testing</li>
						<li>User journeys</li>
						<li>UI design</li>
						<li>Prototypes</li>
						<li>Sketching</li> 
					</ul>
			  </div>
			</div>
</section><!--Skills-->