@import "setup/normalize";
@import "setup/vars";
@import "setup/breakpoints";
@import "setup/helpers";
@import "setup/mixins";
@import "setup/typography";
@import "setup/slippry";
@import "sections/header";
@import "sections/intro";
@import "sections/about";
@import "sections/skills";
@import "sections/clients";
@import "sections/work"; 
@import "sections/blog"; 
@import "sections/contact";
@import "sections/footer";

body {
	position: relative;
	background: #e2dfdf;
	text-align: center;
}
.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}
.inner {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}
section {
	padding-bottom: $spacer;
}
img {
  max-width: 100%; 
 }
section > p {
	margin-bottom: 30px;
}
.module {
	background: white;
	margin-bottom: 40px;
	border-radius: 1px;
	text-align: left;
	position: relative;
  @include shadow;
  padding: 20px;
	img {
		display: block;
		margin: 0 auto;
	}
	div {
		margin: 0;
		p {
			margin: 0;
		}
	}
}