/********************
BREAKPOINTS
********************/
.post-content {
  padding-top: 0;
  text-align: left !important;
}

.post-content li {
  font-size: 20px;
}

#about .statement p:first-child {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.thanks {
  padding: 80px 0;
  text-align: center;
}

.portfolio-link {
  border: 2px solid #eaeaea;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(71, 143, 111, 0.9);
}

.portfolio-modal .close-modal {
  height: 0;
}

@media all and (max-width: 768px) {
  .portfolio-modal .modal-body h2 {
    font-size: 1.8em;
  }
  .portfolio-modal .modal-body h3 {
    font-size: 1.6em;
  }
  .portfolio-modal .modal-content {
    padding: 50px 0;
  }
  .portfolio-modal .close-modal {
    top: 10px;
    right: 0px;
  }
  .fa-3x {
    font-size: 2em !important;
  }
  .post-content p, .post-content li {
    font-size: 16px;
  }
  .modal-body {
    padding: 0;
  }
  hr.star-light:after, hr.star-primary:after {
    font-size: 1.6em;
  }
}

@media all and (min-width: 968px) {
  .blog {
    margin-top: 120px;
  }
}

#blog {
  margin-top: 0;
}

.blogs h4 {
  margin-bottom: 0;
  font-size: 22px;
}

.blogs .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blogs .col-sm-6 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.blogs .panel {
  width: 100%;
  padding: 0 12px;
}

@media all and (max-width: 768px) {
  .blogs .row {
    display: block;
  }
  .blogs .col-sm-6 {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .blogh2 {
    margin-top: 40px;
  }
  .blog-page {
    margin-top: 120px !important;
  }
}

.blog-page {
  margin-top: 50px;
}

.blog-page .item-details {
  margin: 30px 0;
}

.blog-page li {
  font-size: 20px;
}

.blog-page p:first-of-type, .post-content p:first-of-type {
  border-top: 1px solid #2c3e50;
  padding: 30px 0;
  border-bottom: 1px solid #2c3e50;
  background-color: rgba(234, 234, 234, 0.2);
  padding: 10px 20px;
  margin-bottom: 30px;
}

.wires li {
  margin-bottom: 30px;
}

.wires a {
  font-size: 20px;
}

.chunk {
  padding: 24px 12px;
}

.chunk:nth-of-type(odd) {
  background: #f3f3f3;
}

.chunk:nth-of-type(odd) .chunk-inner {
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .chunk {
    padding: 48px;
  }
}

.chunk h3 {
  text-transform: capitalize;
  font-size: 16px;
  flex-basis: 100%;
  margin-top: 0;
}

@media (min-width: 600px) {
  .chunk h3 {
    margin-top: 21px;
    font-size: 26px;
  }
}

.chunk p {
  font-size: 13px;
  margin-bottom: 12px;
}

@media (min-width: 600px) {
  .chunk p {
    font-size: 20px;
  }
}

.chunk-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.chunk-inner .chunk-content {
  flex-basis: 60%;
}

.chunk-inner .chunk-img {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-basis: 40%;
}

.chunk-inner .chunk-img img {
  max-width: 100px;
}

@media (min-width: 600px) {
  .chunk-inner .chunk-img img {
    max-width: 90%;
  }
}

.btn-cta {
  border-radius: 6px;
  background-color: #f49e4c;
  padding: 8px 12px;
  display: inline-block;
  margin-top: 12px;
  color: #fff;
  font-size: 10px;
}

@media (min-width: 600px) {
  .btn-cta {
    font-size: 18px;
    padding: 12px 16px;
  }
}

.btn-cta:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #18bc9c;
  color: #fff;
}

.btn-cta i {
  margin-left: 8px;
}

/*# sourceMappingURL=custom.css.map */

/*# sourceMappingURL=custom.css.map */