body {
    font-family: 'Lato', sans-serif;
    background: white;
}
section {
    padding: 60px 0;
    p, li {
        font-size: 20px;
    }
}
h3 {
    font-size: 42px;
}
.jumbotron {
    background-image: url(../img/bg.jpg);
    margin-bottom: 0;
	a {
		margin-right: 12px;
	}
    .container {
        min-height: 340px;
    }
    @include breakpoint(768) {
    p { 
        width: 60%;
    }
}

} 

.info {
    background: rgba(233, 226, 223, 0.15);
    color: #555;
	text-align: center;
    .container {
        @include breakpoint(768) {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        .box {
            padding: 12px;
            width: 100%;
            margin-bottom: 40px;
            background: none;
            border-radius: 2px;
            @include breakpoint(768) {
                padding: 24px;
                width: 33%;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
    }
    h2 {
    margin: 0;
	}
	.glyphicon {
		font-size: 30px;
	}
    .well {
        margin-bottom: 0;
    }

}
.benefits {
       background: rgba(162, 129, 118, 0.23); 
}
.enquiry-form {
    background: #efefef;
}
label {
	width: 80px;
}
.fa-stack.fa-lg {
	font-size: 28px;
    color: #555;
}

