{% include header.html %}

		<section class="intro"> 
			<nav>
				<a href="blog.html">Blog</a>
				<a href="#clients">Clients</a>
				<a href="#contact">Contact</a>
				<a href="#work">Portfolio</a>						
				<a href="/ux/2016/10/13/web-design-services-blackpool.html">Services</a>
			</nav>
			<div>
				<p class="ja">John <br> Aspinall</p>
			</div>

		</section>

		<div class="content">

	<section id="home" class="about">

			<div class="inner clearfix">
			<p> Hello and welcome to my portfolio and blog.  I'm a <strong>UI/UX designer</strong> experienced in working within agile teams for large organisations.  I generally work for clients around <strong>Lancashire and Greater Manchester</strong>.</p>
			<p>I also have pretty strong web design and development skills.  A selection of my work and processes can be viewable in my portfolio and blog posts on this site.</p>   
			</div>    
	</section><!-- about -->

	<section id="work" class="work">		
		<div class="inner clearfix">	
		<h2 class="homepage">Portfolio</h2> 

			<div class="project module latest">
				<a href="ux/2016/03/03/jdw-mobile-ux.html"><img src="img/jdw-latest.jpg" alt="Mobile phone featuring JDW mobile web project"></a>
				<div>
					<p> Re-engineered the user experience of the product search, navigation and refinement functions across all of JDWilliams mobile specific websites. 
					</p>
					<a>Mobile web UX</a>
				</div>
			</div>

			<div class="cols">
				<div class="left-col">

					<div class="project module">
						<a href="/ux/2016/02/09/kiddicare-ux.html"><img src="img/kiddicare-home.jpg" alt="Kiddicare redesign concept"></a>
						<div>
							<p>Produced a series of UX deliverables for a project to responsively redesign the Kiddicare website.</p>
							<a>Responsive UX</a>
						</div>
					</div>

					<div class="project module">
						<a href="/ux/2013/06/07/morrisons-designs.html"><img src="img/morrisons-home.jpg" alt="Morrisons redesign concept"></a>
						<div>
							<p>Designed a series of concepts to be used for the new proposed design of Morrisons.com</p>
							<a>Design</a>
						</div>
					</div>

		

					<div class="project module">
						<a href="/design/2012/02/01/various-sites.html"><img src="/img/nyc-thumb.jpg" alt="Screenshot of New York website"></a>
						<div>
							<p>A list of older websites I designed and developed whilst working for Kleeneze and a few other bits I did on the side around 2007 to 2012.</p>
							<a>Web Design</a>
						</div>
					</div>	

					<div class="project module">
						<a href="responsive/2014/02/09/seasiders-podcast.html"><img src="img/seasiders-podcast-home.jpg" alt="Seasiders Podcast homepage screenshot"></a>
						<div>
							<p>Devised, produced and presented a regular Blackpool FC podcast show and also built an accompanying responsive website from scratch.</p>
							<a>Responsive</a>
						</div>
					</div>		

					<div class="project module">
						<a href="/responsive/2012/03/04/kleeneze-website.html"><img src="img/kleeneze-thumb.png" alt="Kleeneze homepage screenshot"></a>
						<div>
							<p>Planned, designed and developed a responsive website for Kleeneze, when responsive design was in its infancy.</p>
							<a>Responsive</a>
						</div>
					</div>

				</div><!-- left-col -->

				<div class="right-col">

					<div class="project module">
						<a href="ux/2016/07/18/mobile-size-guide-ux-ui.html"><img src="img/size-guide.png" alt=""></a>
						<div>
							<p>A responsive clothing size guide created for a mobile specific ecommerece website client.  Full write up of my design and build process. </p>
							<a>Mobile UI</a>
						</div>			
					</div>

					<div class="project module">
						<a href="/responsive/2015/05/01/responsive-header-jdw.html"><img src="img/jdw-responsive-header-home.jpg" alt="JD Williams responsive header"></a>
							<div>
							<p>Coded a fully functioning responsive prototype of the header for the new JDWilliams responsive website.</p>
							<a>Responsive UI</a>
						</div>
					</div>

					<div class="project module">
						<a href="ux/2013/03/07/kiddicare-forms.html"><img src="img/kiddicare-mobile.png" alt=""></a>
						<div>
							<p>Built and designed fluid HTML login forms to be used in a webview on the Kiddicare mobile application.</p>
							<a>Mobile web</a>
						</div>			
					</div>					

					<div class="project module">
						<a href="/responsive/2015/02/01/sass-buttons-jdw.html"><img src="img/responsive-buttons-home.jpg" alt="Screenshot of responsive buttons demo"></a>
						<div>
							<p>Built SASS variable controlled and inline SVG button prototype to be used in new UI style guide for JDWilliams. </p>
							<a>SASS & SVG</a>
						</div>
					</div>	

					<div class="project module">
						<a href="ux/2016/02/01/bst.html"><img src="img/bst-thumb.jpg" alt="Screenshot of Blackpool Supporters Trust website"></a>
						<div>
							<p>Designed, built and hosted a new content managed membership website for the Blackpool Supporters' Trust.</p>
							<a>Membership website</a>
						</div>
					</div>

								

				</div><!-- right-col -->
			</div><!-- cols -->
		</div><!-- inner -->
	</section><!-- Work -->

			 {{ content }}

{% include footer.html %}
		 
