{% include header.html %}

<section class="intro"> 
	{% include nav.html %}
		<h1 class="banner">John Aspinall</h1>
		<h2 class="job-title">- UX / UI Designer -</h2>
</section>

		<div class="content">

	<section id="home" class="about">
			<div class="inner clearfix">
			<p>Hi there, I'm John and I've 15 years+ experience within the fields of web, UI and UX design.  My portfolio of recent work and details of my skillset can be viewed below. <p>
			</div>    
	</section><!-- about -->

	<section id="work" class="work">		
		<div class="inner clearfix">	
		<h2 class="homepage">Portfolio</h2> 
			<!--<div class="project module latest">
				<a href="jdw-mobile-ux"><img src="img/jdw-latest.jpg" alt="Mobile phone featuring JDW mobile web project"></a>
				<div>
					<p> Re-engineered the user experience of the product search, navigation and refinement functions across all of JDWilliams mobile specific websites. 
					</p>
					<a>Read More</a>
				</div>
			</div>
		-->

			<div class="cols">
				<div class="left-col">

					<div class="project module">
						<a href="jdw-mobile-ux"><img src="img/jdw-latest.jpg" alt="Mobile phone featuring JDW mobile web project"></a>
						<div>
							<p> Lead the UX development on a project to improve product search and navigation acrooss JDWilliams' mobile specific websites. 
							</p>
							<a>Read More</a>
						</div>
					</div>					

					<div class="project module">
						<a href="kiddicare-ux"><img src="img/kiddicare-home.jpg" alt="Kiddicare redesign concept"></a>
						<div>
							<p>Produced UX deliverables for a project to responsively redesign the Kiddicare website.</p>
							<a>Read More</a>
						</div>
					</div>

					<div class="project module">
						<a href="morrisons-designs"><img src="img/morrisons-home.jpg" alt="Morrisons redesign concept"></a>
						<div>
							<p>Designed concepts to be used for the new proposed design of Morrisons.com</p>
							<a>Read More</a>
						</div>
					</div>

					<div class="project module">
						<a href="various-sites"><img src="/img/nyc-thumb.jpg" alt="Screenshot of New York website"></a>
						<div>
							<p>A list of older websites I designed and developed between 2007 to 2012.</p>
							<a>Read More</a>
						</div>
					</div>	

					<div class="project module">
						<a href="seasiders-podcast"><img src="img/seasiders-podcast-home.jpg" alt="Seasiders Podcast homepage screenshot"></a>
						<div>
							<p>Designed and built responsive Wordpress theme and website for the Seasiders Podcast.</p>
							<a>Read More</a>
						</div>
					</div>		

					<div class="project module">
						<a href="kleeneze-website"><img src="img/kleeneze-thumb.png" alt="Kleeneze homepage screenshot"></a>
						<div>
							<p>Planned, designed and developed a responsive website for Kleeneze, when responsive design was in its infancy.</p>
							<a>Read More</a>
						</div>
					</div>

				</div><!-- left-col -->

				<div class="right-col">

					<div class="project module">
						<a href="jdw-us"><img src="img/various/jdw-us.jpg" alt="JD Williams US site"></a>
						<div>
							<p>My UI design contribution to the JD Williams responsive US website.</p>
					<a>Read More</a>
						</div>			
					</div>

					<div class="project module">
						<a href="mobile-size-guide-ux-ui"><img src="img/various/size-guide.png" alt=""></a>
						<div>
							<p>A responsive clothing size guide used on a mobile specific website for JDWilliams. </p>
					<a>Read More</a>
						</div>			
					</div>

					<div class="project module">
						<a href="responsive-header-jdw"><img src="img/jdw-responsive-header-home.jpg" alt="JD Williams responsive header"></a>
							<div>
							<p>Coded a prototype of the header for the new responsive JDWilliams US website.</p>
					<a>Read More</a>
						</div>
					</div>

					<div class="project module">
						<a href="kiddicare-forms"><img src="img/kiddicare-mobile.png" alt=""></a>
						<div>
							<p>Login forms used in a webview on a Kiddicare mobile ecommerce app.</p>
							<a>Read More</a>
						</div>			
					</div>					

					<div class="project module">
						<a href="sass-buttons-jdw"><img src="img/responsive-buttons-home.jpg" alt="Screenshot of responsive buttons demo"></a>
						<div>
							<p>SASS variable controlled, inline SVG button prototype used in UI team style guide for JDWilliams. </p>
							<a>Read More</a>
						</div>
					</div>	

					<div class="project module">
						<a href="bst"><img src="img/bst-thumb.jpg" alt="Screenshot of Blackpool Supporters Trust website"></a>
						<div>
							<p>Designed, built and hosted a new content managed membership website for the Blackpool Supporters' Trust.</p>
							<a>Read More</a>
						</div>
					</div>

								

				</div><!-- right-col -->
			</div><!-- cols -->
		</div><!-- inner -->
	</section><!-- Work -->

			 {{ content }}

{% include footer.html %}
		 
