{% include header.html %}

		<section class="intro"> 
			<nav>
				<a href="#clients">Clients</a>
				<a href="blog.html">Blog</a>
				<a href="#skills">Skills</a>
				<a href="#contact">Contact</a>
				<a href="#work">Portfolio</a>
			</nav>
			<div>
				<p class="ja">John <br> Aspinall</p>
			</div>
				<p class="jobTitle">- UX Designer -</p>
		</section>

		<div class="content">

	<section id="home" class="about">
			<div class="inner clearfix">
			<p> Hi, I'm a UX designer experienced in working within Agile teams for large organisations.  I work for clients around <strong>Manchester</strong> and can also travel for projects, in addition to working remotely. </p>
			<p>I'm also a web and UI designer with strong front end design and development skills.  A selection of my work can be viewed in my portfolio.</p>   
			</div>    
	</section><!-- about -->

	<section id="work" class="work">		
		<div class="inner clearfix">	
		<h2>Portfolio</h2>

			<div class="project module latest">
				<a href="ux/2016/03/03/jdw-mobile-ux.html"><img src="img/jdw-latest.jpg" alt="Mobile phone featuring JDW mobile web project"></a>
				<div>
					<p> Re-engineered the user experience of the product search, navigation and refinement functions across all of JDWilliams mobile specific websites. 
					</p>
					<a href="ux/2016/03/03/jdw-mobile-ux.html">Project review</a>
				</div>
			</div>

			<div class="cols">
				<div class="left-col">

					<div class="project module">
						<a href="/ux/2016/02/09/kiddicare-ux.html"><img src="img/kiddicare-home.jpg" alt="Kiddicare redesign concept"></a>
						<div>
							<p>Produced a series of UX deliverables for a project to responsively redesign the Kiddicare website.</p>
							<a href="/ux/2016/02/09/kiddicare-ux.html">Project review</a>
						</div>
					</div>

					<div class="project module">
						<a href="/portfolio/morrisons-co-uk-redesign/"><img src="img/morrisons-home.jpg" alt="Morrisons redesign concept"></a>
						<div>
							<p>Designed a series of concepts to be used for the new proposed design of Morrisons.com</p>
							<a href="/portfolio/morrisons-co-uk-redesign/">Designs</a>
						</div>
					</div>

					<div class="project module">
						<a href="http://johnasp.github.io/ecommerce_responsive_header/#"><img src="img/jdw-responsive-header-home.jpg" alt="JD Williams responsive header"></a>
							<div>
							<p>Coded a fully functioning responsive prototype of the header for the new JDWilliams responsive website.</p>
							<a href="http://johnasp.github.io/ecommerce_responsive_header/#">Prototype</a>
						</div>
					</div>		

					<div class="project module">
						<a href="http://codepen.io/johnasp/full/zvmEy/"><img src="img/responsive-buttons-home.jpg" alt="Screenshot of responsive buttons demo"></a>
						<div>
							<p>Built SASS variable controlled and inline SVG button prototype to be used in new UI style guide for JDWilliams. </p>
							<a href="http://codepen.io/johnasp/full/zvmEy/">Demo</a>
						</div>
			
					</div>			

				</div><!-- left-col -->

				<div class="right-col">

					<div class="project module">
						<a href="portfolio/kiddicare-mobile-app-login-screens/"><img src="img/kiddicare-mobile.png" alt=""></a>
						<div>
							<p>Built and designed fluid HTML login forms to be used in a webview on the Kiddicare mobile application.</p>
							<a href="portfolio/kiddicare-mobile-app-login-screens/">Visuals</a>
						</div>			
					</div>

					<div class="project module">
						<a href="http://www.blackpoolsupporterstrust.com"><img src="img/bst.jpg" alt="Screenshot of Blackpool Supporters Trust website"></a>
						<div>
							<p>Designed, built and hosted a new content managed membership website for the Blackpool Supporters' Trust.</p>
							<a href="http://www.blackpoolsupporterstrust.com">Live website</a>
						</div>
					</div>

					<div class="project module">
						<a href="/portfolio/seasiders-podcast-v3-responsive-website/"><img src="img/seasiders-podcast-home.jpg" alt="Seasiders Podcast homepage screenshot"></a>
						<div>
							<p>Devised, produced and presented a regular Blackpool FC podcast show and also built an accompanying responsive website from scratch.</p>
							<a href="/portfolio/seasiders-podcast-v3-responsive-website/">Live website</a>
						</div>
					</div>		

					<div class="project module">
						<a href=""><img src="img/kleeneze-home.jpg" alt="Kleeneze homepage screenshot"></a>
						<div>
							<p>Planned, designed and developed a responsive website for Kleeneze, when responsive design was in its infancy.</p>
							<a href="/">Live website</a>
						</div>
					</div>								

				</div><!-- right-col -->
			</div><!-- cols -->
		</div><!-- inner -->
	</section><!-- Work -->

			 {{ content }}

{% include footer.html %}
		 