 {% include header.html %}

		<section class="intro"> 
			<nav>
				<a href="/index.html">Home</a>
				<a href="#clients">Clients</a>
				<a href="/blog.html">Blog</a>
				<a href="#skills">Skills</a>
				<a href="#contact">Contact</a>
				<a href="/index.html#work">Portfolio</a>
			</nav>
			
			<div>
				<p class="ja">Blog</p>
			</div>
		</section>

		<div class="content portfolio">
			 
			<section id="post" class="blog">   
			  <div class="inner">  
				  <div class="module">
				  	<div class="internal">
					  	<h1>{{ page.title }}</h1>
					    <p class="date"> {{ page.date | date: '%B %d, %Y' }} </p>
					    {{ content }}
				 	 </div>
				  </div>
				</div>
			</section>


{% include footer.html %}
	
