{% include header.html %}

<section id="inner-page" class="intro"> 
	{% include nav.html %}
		<h1 class="banner">Services</h1>
</section>	

<div class="content portfolio">
	<section id="post" class="blog">   
	  <div class="inner">  
		  <div class="module">
		  	<div class="internal">
			  	<h1>Web Design Services</h1>

			    {{ content }}

		 	 </div>
		  </div>
		</div>
	</section>
</div>


{% include footer.html %}

1 Richmond Road, 
Lytham St. Annes, 
Lancashire, 
FY8 1PE

£3900 in 
£650 monthly costs out
£965 mileage in 

£3250 p/m 
- 20% tax etc £640

£2650 take home pay
 
