.about {
	background: #fff;
	padding: 1.5em;
	color: #313131;
	line-height: 2em;
	padding: 40px 0;
	text-align: center;
		@include breakpoint(1000) {
			padding: 2.5em;
		}
	p { 
		font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 20px;
		border-radius: 5px;
		line-height: 1.4em;
		/*@include breakpoint(600) {
			float: left;
			width: 48%;	
			&:first-child {
				margin-right: 4%;
			}
			margin: 10px 0 20px 0;
		}
				*/

		@include breakpoint(1000) {
			font-size: 2.4rem;
		}
	}
}
