.about {
	background: #fff;
	padding: 1.5em;
	color: #313131;
	line-height: 2em;
	padding: 20px 0;
	text-align: center;
	@include breakpoint(1000) {
		padding: 5em 2.5em;
	}
	p { 
		font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 20px;
		border-radius: 5px;
		line-height: 1.4em;
		@include breakpoint(1024) {
			font-size: 2.2rem;
		}
	}
	a {
		border-bottom: 1px solid $blue;
		font-size: 1.8rem;
		@include breakpoint(1024) {
			font-size: 2.2rem;
		}		
		&:hover {
			color: $yellow;
			border-bottom: 1px solid $yellow;
		}
	}
}
