.blog {
	background: #eaeaea;
	@include heading($blue);
	padding: 0;
	clear: both;
	margin-top: 40px;
	padding-bottom: 20px;
	h3 {
			margin: 0 0 -3px 0;
		a {
			font-size: 22px;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.date {
		margin-top: 6px;
    margin-bottom: 4px!important;
		color: #666;
		display: inline-block;
		font-size: 1.6em;
	}
}

#post {
	margin-top: 20px;
	font-family: georgia, serif;
	.thumbs {
		div:first-child {
			margin-right: 5%;
		}
		.half {
			width: 45%;
			float: left;
		}
	}
	table.overview {
	  border-radius:  3px;
	  margin-top: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
	  td {
		  padding: 8px;
		  font-size: 1.8rem;
		  vertical-align: top;
		  color: #525252;
		}
		td:first-child  {
		  width: 30%;
		  font-weight: bold;
		  padding-left: 14px; 
		}
	}
	h1 {
		font-size: 22px;
		font-weight: normal;
		margin-bottom: 0;
		@include breakpoint(600) {
			font-size: 36px;
		}
	}
	h2 {
		font-size: 22px;
		@include breakpoint(600) {
			font-size: 26px;
		}
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-weight: bold;
		font-size: 2.2rem;
		@include breakpoint(mob) {
			font-size: 2.6rem;
		}
	}
	h5 {
		font-family: arial, verdana, sans-serif;
		font-weight: normal;
	}
   /*img, iframe {
		-webkit-box-shadow: 1px 1px 9px 1px rgba(133,130,133,1);
		-moz-box-shadow: 1px 1px 9px 1px rgba(133,130,133,1);
		box-shadow: 1px 1px 9px 1px rgba(133,130,133,1);
		margin-bottom: 32px;
	}*/
	p {
		margin-top: 6px;
		margin-bottom: 20px;
		line-height: 1.3em;
	}
	li {
		line-height: 1.5em;
	}
	.category {
	  background: $blue;
    display: inline-block;
    font-size: 14px;
    color: white;
    padding: 4px;
	}
	.inner {
		@include breakpoint(768) {
			padding: 0 40px;
		}
	}
	.internal {
		@include breakpoint(600) {
			padding: 2em 10%;
		}
	  @include breakpoint(768) {
			padding: 2em 15%;
		}
		.featured {
			background: lighten(#e1e1e1, 5%);
			padding: 15px;
			margin-top: 8px;
		}
	}
	.invision {
		display: none;
		box-shadow: none;
		@include breakpoint(480) {
			display: block;
		}
		width: 100%;
		margin: 0 auto;
	}
	h5 {
    background: black;
    color: white;
    margin: 0;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 20px;
	}	
	.sy-caption {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 14px;
	}
	.sy-controls {
		background: black;
	}
	a {
		text-decoration: underline;
	}
}
