.clients {
	padding-bottom: 40px;
	background: #fff;	
	p {
		&:first-child {
			margin-top: 0;
			margin-bottom: 20px;
		}
		&:nth-child(2) {
			
		}
	}
	@include heading($blue);  
	img {
		background-color: white;
		padding: 0;
		margin-bottom: 10px;
	}
}