.contact {
	@include heading(darken($blue,8%));
	background: #fff;
		&:last-child {
		margin-bottom: 0;
	}
	h3 {
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 1.8rem;
	}
	p {
		margin-top: 4px;
	}
	a.blurb {
		text-decoration: underline;
	}
	ul {
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-left: 0;
		text-align: center;
		li {
			display: inline-block;
			width: 49%;
			list-style: bullet;
		}
	}
	.email {
		@include cta ();
	}
	.inner {
		max-width: 900px;
		padding-bottom: 40px;
	}
}
