footer {
	background: darken(#385469,25%);	
	color: white;
	float: left;
	width: 100%;
	margin-bottom: 0;
	text-align: left;
	padding: 20px 0 50px 0;
	p, a {	
		font-size: 1.4rem;
	}
	a {
		color: #85C3F3;
		&:hover {
			border-bottom: 1px solid #85C3F3;
		}
	}
	h4 {
		font-size: 1.8rem;
		padding-bottom: 5px;

	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	.left-col {
		width: 75%;
	}
	.right-col {
		width: 20%;
		text-align: center;
						
	}
	.copyright {
		background: #383B3E;
		padding: 8px;
		font-size: 1.4rem;
	}

}