/********************
INTRO
********************/ 

.intro {
	padding: 20px 0 0 0;
	background: url(../img/us-mob.jpg) 50% 0 no-repeat;
	position: relative;
	@include breakpoint(768) {
			background: url(../img/us-tablet.jpg) 50% -40px no-repeat;
			padding-bottom: 40px;
	}
	@include breakpoint(1024) {
			background: url(../img/us-desktop.jpg) 50% -100px no-repeat ;
			padding-bottom: 80px;
			background-size: 100%;
	} 
	nav {
		padding-bottom: 60px;
		@include breakpoint(768) {
			padding-bottom: 170px;
		}
		text-align: center;
		a {
			color: #0c314e;
			margin-right: 1px;
			display: inline-block;
			background: rgba(255,255,255,1);
			padding: 6px 8px;
			font-size: 12px;
		  font-family: sans-serif; 
			@include breakpoint(768) {
				font-size: 2.0rem;
				padding: 10px 14px;
				margin-right: 12px;
			}
			@include breakpoint(1024) {
				font-size: 2.4rem;
				padding: 12px 24px;
				margin-right: 26px;
			}
			text-decoration: none;
			&:hover {
				background: $lYellow;
			}
		}
	}
	p {
		color: white;
		font-size: 2.8rem;
		margin: 0;
		line-height: 1em;
		text-align: center;
		position: relative;
		&.banner {
			font-family: 'Lobster', cursive;
			font-size: 8.2rem;
  	  text-shadow:
        3px 3px 0 #000,
       -1px -1px 0 #000,  
    	  1px -1px 0 #000,
     	 -1px 1px 0 #000, 
        1px 1px 0 #000;
			@include breakpoint(768) {
				margin-top: -40px;
				font-size: 11rem;
				padding-bottom: 20px;
			}
			@include breakpoint(1024) {
				padding-top: 30px;
				font-size: 14rem;
			} 
			margin-bottom: 30px;
		}
	}
}
.job-title {   
	background: #1c415f;
	background: rgba(28,65,95,0.5);
	padding: 12px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	@include breakpoint(1024) {
		font-size: 42px!important;
	} 
}
