/********************
INTRO
********************/ 

.intro {
	padding: 20px 0 50px 0;
	background: url(../img/us-mob.jpg) 50% 0 no-repeat;
	position: relative;
	@include breakpoint(768) {
			background: url(../img/us-tablet.jpg) 50% -40px no-repeat;
			padding-bottom: 40px;
	}
	@include breakpoint(1024) {
			background: url(../img/us-desktop.jpg) 50% -100px no-repeat ;
			padding-bottom: 80px;
			background-size: 100%;
	} 
	nav {
		padding-bottom: 80px;
		@include breakpoint(768) {
		padding-bottom: 170px;
		}
		text-align: center;
		a {
			box-shadow: 1px 1px 1px $blue;
			color: #0c314e;
			margin-right: 1em;
			display: inline-block;
			background: rgba(255,255,255,1);
			padding: 6px 8px;
			border-radius: 100px;
			font-size: 1.6rem;
			margin-right: 5px;
			margin-bottom: 6px;
		  font-family: "Roboto", sans-serif; font-weight: 400;
			@include breakpoint(768) {
			font-size: 2.0rem;
			padding: 10px 14px;
			margin-right: 12px;
			}
			@include breakpoint(1024) {
				font-size: 2.4rem;
				padding: 12px 24px;
				margin-right: 26px;
			}
			text-decoration: none;
			&:hover {
				background: $lYellow;
			}
		}
	}
	p {
		color: white;
		font-size: 2.8rem;
		margin: 0;
		line-height: 1em;
		text-align: center;
		position: relative;
		&.ja {
			font-family: 'Lobster', cursive;
			font-size: 8.2rem;
  	  text-shadow:
        3px 3px 0 #000,
       -1px -1px 0 #000,  
    	  1px -1px 0 #000,
     	 -1px 1px 0 #000, 
        1px 1px 0 #000;
			@include breakpoint(768) {
				margin-top: -40px;
				font-size: 11rem;
				padding-bottom: 20px;
			}
			@include breakpoint(1024) {
				padding-top: 30px;
				font-size: 14rem;
			} 
			margin-bottom: 30px;
		}
		&.jobTitle {
			background: rgba(5,5,8,0.5);
			padding: 12px;
			bottom: 0;
			text-align: center;
			display: inline;
			@include breakpoint(1024) {
				font-size: 3.8rem;
			}
		}
	}
}
