/********************
INTRO
********************/ 

.intro {
	background: url(../img/us-mob.jpg) 50% 0 no-repeat;
	position: relative;
	@include breakpoint(768) {
		background: url(../img/us-tablet.jpg) 50% -80px no-repeat;
	}
	@include breakpoint(1024) {
		background: url(../img/us-desktop.jpg) 50% -100px no-repeat;
		background-size: 100%;
	} 
	@include breakpoint(1400) {
		background: url(../img/us-desktop.jpg) 50% -180px no-repeat;
	} 
}

nav {
	text-align: center;
	text-decoration: none;
	padding: 12px 0;
	a {
		color: #fff;
		border: 2px solid #fff;
		margin-right: 1px;
		display: inline-block;
		padding: 6px;
		font-size: 14px;
		font-family: sans-serif; 
		margin-bottom: 2px;
		&:hover {
			text-decoration: underline;
		}
		@include breakpoint(768) {
			font-size: 1.6rem;
			padding: 10px 14px;
			margin-right: 12px;
		}
		@include breakpoint(1300) {
			font-size: 2.4rem;
			padding: 12px 24px;
			margin-right: 26px;
		}
	}
}
h1.banner {
	color: white;
	margin: 0;
	text-align: center;
	position: relative;
	font-family: 'Lobster', cursive;
	font-size: 8.2rem;
  text-shadow: 2px 2px 1px #000;
  font-weight: normal;
  z-index: 1;
  padding: 70px 0 55px 0;
  line-height: 1em;
	@include breakpoint(768) {
		font-size: 10rem;
		padding: 110px 0 60px 0;
	}
	@include breakpoint(1024) {
		font-size: 12rem;
		padding: 260px 0 66px 0;
	} 
}
#inner-page h1.banner {
		@include breakpoint(768) {
		font-size: 12rem;
		padding: 16px 0 66px 0;
	} 
}
h2.job-title {   
	background: #1c415f;
	background: rgba(28,65,95,0.5);
	padding: 6px;
	color: white;
	font-size: 24px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	@include breakpoint(1024) {
		font-size: 32px!important;
	} 
}
.content.portfolio {
	margin-top: 34px;
}
