/********************
VARS
********************/

$grey: #aaa;
$orange: #F6821F;
$cream: #EDE7D5;
$blue: #3073A7;
$yellow: #F6B900;
$lYellow: lighten($yellow,48%);
$gutter: 5%;
$borderSize: 6px;
$borderCol: darken($yellow,8%); 
$spacer: 30px;
$table: #eaeaea;
$mw: 1300px;
