footer {
	background: url(../img/waves-footer.jpg);
	background: darken(#385469,15%);	
	color: white;
	float: left;
	width: 100%;
	margin-bottom: 0;
	text-align: left;
	p, a {	
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1.8rem;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	.left-col {
		width: 75%;
	}
	.right-col {
		width: 20%;		
	}
	.copyright {
		background: #383B3E;
		padding: 8px;
		font-size: 1.4rem;
	}

}